body {
    background-color: #e8dcc8;
    background-image: url("bluebg.jpg");
    background-repeat: repeat;
    color: #1f2a44;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
}

header {
    background: #fdf8f0 url("redFlowerSmall.png") no-repeat right top;
    padding: 40px;
}

main {
    background-color: #fdf8f0;
    padding: 30px;
    margin: 30px;
}

img {
    width: 400px;
}

ul {
    list-style-image: url("dot.png");
}

footer {
    
    color: white;
    text-align: center;
}
