p {
    color: blue;
}
h1 {
    color: red;
}
main p{
    color: orange
}
#maintitle {
    color: green;
}
.orange {
    color: orange;
}
.bigger {
    font-size: 15pt;
    font-weight: bold;
}
.purple {
    color: purple;
}
